/* ==================== detail.css ==================== */

.News.detail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.News.detail h2 {
	margin: 1em 0;
	padding: 1em;
}
.News.detail h2 time {
	font-size: 70%;
}

.News.detail .body {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.News.detail .body p a {
	border-bottom: 0.5px solid black;
	margin: 0 0.25em;
	padding-bottom: 0.2em;
	font-weight: 400;
}

@media (min-width: 568px) {

	.News.detail {
		align-self: center;
		width: 75%;
	}

}


/* ==================== index.css ==================== */

.News.index {
	display: flex;
	flex-direction: column;
}

.News.index .list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.News.index .list li {
	font-size: 125%;
	font-weight: 400;
	line-height: 1.4;
	transition: opacity 100ms ease;
}

.News.index .list li:hover {
	opacity: 0.6;
	transition-duration: 400ms;
}

.News.index .list li a {
	display: flex;
	flex-direction: column;
}

.News.index .list img {
	margin-bottom: 0.5em;
}

.News.index .list li a > * {
	font-weight: 300;
}
.News.index .list time,
.News.index .list small {
	font-size: 80%;
}

.News.index .list time {
	margin-top: 0.25em;
}

.News.index .list small {
	margin-top: 1em;
}

@media (max-width: 567px) {
	.News.index .list li:nth-of-type(n+2) {
		margin-top: 2rem;
	}
}

@media (min-width: 568px) {
	.News.index .list ul {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2rem;
	}
	.News.index .list li {
	}
}


.News.index .pager {
	align-self: flex-end;
	margin-left: auto;
	margin-top: 3rem;
}

.News.index .pager ul {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.News.index .pager li {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3em;
	line-height: 2em;
	font-size: 125%;
	margin: 0.5em 0 0 0.5em;
}

.News.index .pager li.selected {
	background: black;
	color: white;
}

.News.index .pager li a {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.5px solid black;
	width: 100%;
	height: 100%;
	transition: all 100ms ease;
}

.News.index .pager li a:hover {
	background: black;
	color: white;
	transition-duration: 200ms;
}

@media (max-width: 567px) {
	.News.index .pager ul {
	}
}

@media (min-width: 568px) {
	.News.index .pager ul {
	}
	.News.index .pager li {
	}
}